.my-class1 {
  background: url('example.png') no-repeat center center;
  background-size: cover;
}
.my-class2 {
  border: 1px solid #000;
  border-width: 2px;
}
.my-class3 {
  background: url('example.png') no-repeat center center;
  border: 1px solid #000;
  border-width: 2px;
}